<%- include('./partials/header') -%>

<div class="card" style="text-align:center; padding:30px; border:5px;">

  <h3>Login!</h3>
  <form class="" action="/login" method="post">

      <input style="  display:block; margin:20px auto ; " type="text" name="username" value="" placeholder="username">
      <input type="password" name="password" value="" placeholder="password">

  <div class="" style="margin-top:20px;">
    <button class="btn btn-primary btn-lg" type="submit" name="button" value="login">Login</button>
  </div>
</div>

</form>
<%- include('./partials/footer') -%>
