<%- include('./partials/header') -%>

<div class="card" style="padding:30px;margin:10px; border:15px">
<h3>Sign Up!</h3>

<form class="" action="/register" method="post">
    <div class="" style="display:block; ">
<input type="text" name="username" value="" placeholder="username">
<input type="password" name="password" value="" placeholder="password">
</div>
<div class="" style="margin-top:5px;">
<button class="btn btn-success" type="submit" name="button">Sign Up</button>
</div>
</form>


</div>
<%- include('./partials/footer') -%>
